<div class="navbar">
  <img src="/images/logo.png">
</div>
<div class="container">
  <form action="/user/edit/<%= _id %>" method="post" enctype="multipart/form-data">
    <% if (typeof(error) !== 'undefined'){ %>
      <div class="alert alert-danger">
        <ul>
          <li>
            <%= error %>
          </li>
        </ul>
      </div>
    <% } %>
    <ul class="flex-outer">
      <li>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="<%= username || '' %>">
      </li>
      <li>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="<%= name || '' %>">
      </li>
      <li>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="<%= email || '' %>">
      </li>
      <li>
        <label for="avatar">Avatar</label>
        <input type="file" id="avatar" name="avatar">
      </li>
      <li class="buttonLi">
        <button type="submit">Save & Back</button>
        <a href="btn">Back to menu</a>
      </li>
    </ul>
  </form>

</div>
