<div class="navbar">
  <div class="authorMainProfile">
    <div class="authorAvatar avatarProfile inline-block">
      <img class="avatar" src="<%=user.avatar%>">
    </div>
    <div class="textAuthorProfile inline-block">
      <span class="author"><%=user.name%></span>
            <% if (session._id.equals(user._id)) { %>
      <div class="editProfile">
        <a href="/user/edit/<%= user._id %>">Edit my profile</a>
      </div>
      <% } %>
    </div>
  </div>
  <a href="/"><img class="imgWitha" src="/images/logo.png"></a>
</div>

<div class="allUserPosts">
  <% questions.forEach(question => { %>
    <div class="onePost">
      <div class="photoMin">
        <a class="mainTitleHref" href="/forum/<%= question._id %>/show">
        <img class="photoForum" src="<%= question.mainPhoto %>">
      </div>
      <div class="detailsPost">
        <div class="titleMin">
          <p>
            <%- question.title %></a>
          </p>
        </div>
        <div class="authorMin">
          <div class="pic">
            <img class="authorPic" src="<%= question._authorId.avatar %>">
          </div>
          <div class="authorPost">
            <a href="/user/<%= question._authorId.id %>"><span class="authorspan"><%= question._authorId.username %></span></a><br>
            <span class="createdspan"><%= question.created_at %></span>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
</div>
