<div class="navbar">
  <div class="authorMainProfile">
    <div class="authorAvatar avatarProfile inline-block">
      <img class="avatar" src="<%=user.avatar%>">
    </div>
    <div class="textAuthorProfile inline-block">
      <span class="author"><%=user.name%></span>
            <% if (session._id.equals(user._id)) { %>
      <div class="editProfile">
        <a href="/user/edit/<%= user._id %>">Edit my profile</a>
      </div>
      <% } %>
    </div>
  </div>
  <a href="/"><img class="imgWitha" src="/images/logo.png"></a>
  <div class="menuTopBack inline-block">
    <span class="goback"><a href="/">Back</a></span>
  </div>
</div>

<div class="allUserPosts">
  <% questions.forEach(question => { %>
    <div class="onePost">
      <div class="photoMin">
        <a class="mainTitleHref" href="/forum/<%= question._id %>/show">
        <img class="photoForum" src="<%= question.mainPhoto %>">
      </div>
      <div class="detailsPost">
        <div class="titleMin">
          <p>
            <%- question.title.replace(/<(?:.|\n)*?>/gm, '') %></a>
          </p>
        </div>

      </div>
    </div>
    <% }); %>
</div>
