<div class="navbar">
  <a href="/forum"><img class="imgWitha" src="/images/logo.png"></a>
  <form class="inline-block" action="/forum/<%=results.id%>/edit" method="get">
    <div class="newStoryNav">
      <% if (user._id.equals(results._authorId._id)) { %>
        <button class="publish">Edit</button> or
      <% } %>
      <a href="/forum/">Go to main</a>
    </div>
  </form>
</div>
<div class="secondBar">
    <div class="authorMain">
      <div class="authorAvatar inline-block">
        <img class="avatar" src="<%=results._authorId.avatar%>">
      </div>
      <div class="textAuthor inline-block">
        <span class="author"><%=results._authorId.name%></span>
        <% if (results.tags!="") {%>
            <span class="tagsOfPost"><%=results.tags%></span>
        <%}%>
      </div>  <% if (user._id.equals(results._authorId._id)) { %>
      <div class="inline-block delete">
        <form class="inline-block" action="/forum/<%=results.id%>/delete" method="post" id="deleteStory">
          <button class="publish red whitecolor"> Delete</button>
        </form>
      </div>
      <%}%>
      <div class="inline-block retweetdiv">
      <a class="retweet"
        target="popup"
        onclick="window.open('https://twitter.com/intent/tweet?text=<%=results.title.replace(/<(?:.|\n)*?>/gm, '');%> @ironAgora','popup','width=600,height=300'); return false;">
          <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a class="retweet mobile"
        href='https://twitter.com/intent/tweet?text=<%=results.title.replace(/<(?:.|\n)*?>/gm, '');%> @ironAgora'>
          <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
    <div class="letsclap inline-block">
      <form class="formaddclap" id="add-clap" action="/clap/<%= results._id %>" method="post">
        <button class="button-add-clap" name="clap" class=""><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
      </form>
    </div>
</div>
<div class="editable2">
  <%-results.title%>
</div>
<div class="editable">
  <%-results.content%>
</div>
</form>

<form action="/forum/<%=results.id%>/newAnswer" method="post">
  <div class="answerInPost">
    <textarea placeholder="Write a response..." name="answer" class="newAnswer"></textarea>
    <button class="waves-effect waves-light btn sendAnswer"><i class="material-icons left"></i>Send</button></a>
  </div>
</form>

  <% resultAnswer.forEach(e => { %>
    <div class="commentadded">
      <img class ="miniavatar" src="<%=e._authorId.avatar%>">
      <span class="commentName"><%=e._authorId.name%></span>
      <% if(e.content != "- message deleted by user -" && e._authorId.id == user.id){ %>
      <form class="inline-block" action="/forum/<%=e.id%>/removeAnswer?fromStory=<%=results.id%>" method="post">
        <button class="removeMyAnswer"><i class="fa fa-trash-o" aria-hidden="true">
        </i></button></form>
      <%}%>
    <p><%= e.content %></p>
  </div>
  <% }) %>

<script type="text/javascript" src="/javascripts/clap.js" charset="utf-8"></script>
