<div class="navbar">
  <a href="/forum"><img src="/images/logo.png"></a>
  <form action="/forum/<%=id%>/remove" method="post" id="deleteStory">
    <button> Delete </button>
  </form>
  <form action="/forum/<%=id%>/edit" method="get">
    <div class="newStoryNav">
      <button>Edit</button>
      <a href="/forum/">Go to main</a>
    </div>
</div>
<% if (tags!="") {%>
<div class="tagsShow">
  Tags: <%=tags%>
</div>
<%}%>
<div class="editable2">
  <%-title%>
</div>
<div class="editable">
  <%-content%>
</div>
</form>
