<div class="navbar">
  <img src="/images/logo.png">
  <div class="newStoryNav">
    <a href="/forum/new">New Story</a>
  </div>
</div>
<div class="tagsBar inline">
  <ul class="tagsNav">
    <li>HOME</li>
    <li>UX</li>
    <li>UI</li>
    <li>Cats</li>
    <li>Technology</li>
    <li>Creativity</li>
    <li>Entrepreneurship</li>
    <li>Self</li>
    <li>Culture</li>
    <li>Digital design</li>
    <li>More</li>
  </ul>
</div>
<div class="allPosts">
  <% results.forEach(post => { %>
    <div class="onePost">
      <div class="photoMin">
        <a class="mainTitleHref" href="/forum/<%= post.id%>/show">
        <img class="photoForum" src="<%=post.mainPhoto%>">
      </div>
      <div class="detailsPost">
        <div class="titleMin">
          <p>
            <%-post.title%></a>
          </p>
        </div>
        <div class="authorMin">
          <div class="pic">
            <img class="authorPic" src="<%=post._authorId.avatar%>">
          </div>
          <div class="authorPost">
            <a href="/user/<%=post._authorId.id%>"><span class="authorspan"><%=post._authorId.username%></span></a><br>
            <span class="createdspan"><%=post.created_at%></span>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
</div>
